mixin product-preview(props)
  - props = typeof props != 'undefined' ? props : {}
  - var mods = props.mods || {}
  - var tag = props.tag || 'div'
  - var attrs = props.attrs || {}
  - var data = props.data || {}

  - var img = data.id+'.jpg' || ''
  - var info = data.info || ''
  - var title = data.title || ''


  #{tag}.product-preview(
    class= mods.type ? 'product-preview_type_' + mods.type : ''
  )&attributes(attrs)
    .product-preview__image-box
      img.product-preview__image(src="img/products/"+img, alt= title)/

    p.product-preview__info= info

    h3.product-preview__title(title= title)
      =title

    .product-preview__actions
      +button({mods: {type: 'secondary'}}) Order

      if (data.id == 5)
        .tooltip
          p.tooltip__title Popup header
          p.tooltip__content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
