mixin menu(props)
  - props = typeof props != 'undefined' ? props : {}
  - var mods = props.mods || {}
  - var tag = props.tag || 'ul'
  - var attrs = props.attrs || {}
  - var data = props.data || {}

  #{tag}.menu(
    class= mods.type ? 'menu_type_' + mods.type : ''
  )&attributes(attrs)

    each item in data
      - var href = item.href ? item.href : 'javascript:void(0);'
      - var current = item.current ? 'menu__item_current': false

      li.menu__item(class= current)
        +link({
          href: href,
          attrs: {
            class: item.type ? 'menu__link menu__link_type_' + item.type : 'menu__link'
          }
        })= item.title
