@import "../../styles/extends"

.header
  background: #333
  color: #fff

.container
  padding: 16px 0

  @extend %container

.logo
  background: url('./logo.svg') 50% no-repeat
  height: 45px
  width: 108px
  font-size: 0
