@import "../../styles/extends"

.product
  display: flex
  flex-wrap: nowrap
  padding: 24px 0 0
  position: relative

  @extend %container

  &__gallery
    flex: 0 0 50%
    min-width: 0

  &__content
    box-sizing: border-box
    padding-left: 24px
    flex: 0 0 50%

  &__light-info
    background: #fff
    opacity: 0
    visibility: hidden
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: -10px
    z-index: 10
    padding: 24px
    box-sizing: border-box

    &_visible
      opacity: 1
      visibility: visible

    p
      &:not(:last-child)
        margin-bottom: 16px

  &__light-link-back
    cursor: pointer
    text-decoration: underline
    color: #666
    font-size: 16px
    display: inline-block
    margin-bottom: 8px

    &:hover
      text-decoration: none

