.page
  max-width: $maxWidth
  margin: auto
  border-radius: 4px
  box-shadow: 0 0 8px rgba($grayDarker, .3)
  padding: $baseGap
  box-sizing: border-box
  background: #fff
  overflow: hidden

  &__header
    margin: (- $baseGap) (- $baseGap) $baseGap
    background: rgba($blue, .1)
    font-size: 20px
    padding: $baseGap
    border-bottom: 1px solid $borderColor

    p
      margin: 0

      &:not(:last-child)
        margin-bottom: 16px
