
.details
  width: 100%
  margin: $baseGap 0 0 0

  &__title
    font-size: 20px
    font-weight: bold
    margin: 0 0 $baseGap/2
    padding: $baseGap/2
    background: $grayLight
    border-radius: 4px

  &__content
    margin: 0

    dt,
    dd
      display: inline-block
      margin: 0 0 $baseGap/2
      padding: $baseGap/2
      box-sizing: border-box

    dt
      width: 35%
      font-weight: 700
      color: $grayDarker
      font-size: 16px
      border-bottom: 1px dotted $borderColor



    dd
      box-sizing: border-box
      width: 65%
      font-size: 18px

  &__total
    border-radius: 4px
    font-size: 20px
    font-weight: bold
    background: linear-gradient(to right, #fff, rgba($grayLight, .8))
    padding: $baseGap/2
    text-align: right
