mixin link(props)
  - props = typeof props != 'undefined' ? props : {}

  - var mods = props.mods || {}
  - var href = props.href || false
  - var attrs = props.attrs || {}

  a.link(
    class= mods.type ? 'link_type_' + mods.type : ''
    href= href
  )&attributes(attrs)
    block
