.details
  display: flex
  align-items: flex-start

  &:not(:last-child)
    margin-bottom: 16px

  &__label
    flex: 0 0 40%

  &__value
    flex: 0 0 60%

  &_primary
    align-items: center
    .details__value
      span
        display: inline-block
        border-radius: 4px
        padding: 8px 16px
        background: linear-gradient(#eee, #ddd)
        font-weight: bold
        box-shadow: 0 2px 5px rgba(#000, .2)

.lightInfo
  background: #4bb5f9
  margin-bottom: 16px
  position: relative
  display: flex
  align-items: center

  &__text
    padding: 16px
    color: #fff

  &__button
    cursor: pointer
    background: #46aaea url('./info.svg') 50% no-repeat
    width: 52px
    height: 52px
    background-size: 24px
    font-size: 0
    transition: background-color .25s

    &:hover
      background-color: darken(#46aaea, 10%)

.galleryPreview
  display: flex
  justify-content: center

  &__item
    width: 120px
    height: 90px
    position: relative
    background: #eee
    cursor: pointer
    border-radius: 4px
    overflow: hidden

    &::before
      content: ''
      width: 20px
      height: 20px
      background: #4bb5f8 url('./check.svg') 50% no-repeat
      background-size: 80%
      position: absolute
      right: 8px
      top: 8px
      border-radius: 4px
      opacity: 0
      transform: scale(.5)
      transition: opacity .25s, transform .25s, box-shadow .25s

    &_selected
      box-shadow: 0 2px 5px rgba(#000, .5)

      &::before
        opacity: 1
        transform: scale(1)


    &:not(:last-child)
      margin-right: 16px

  &__title
    position: absolute
    text-align: center
    padding: 4px 8px
    bottom: 0
    left: 0
    right: 0
    font-size: 13px
    background: rgba(#000, .5)
    color: #fff

  &__image
    display: block
    max-width: 100%

