extends ../layouts/@main

block title
  title Email

block body
  .page
    .page__header
      p
        | Здравствуйте, Покупатель Покупателевич!
        br/
        | Ваш заказ
        = ' '
        strong &#8470; T-RP/00129
        | &nbsp;оформлен.
      p Спасибо, что выбрали нас! В&nbsp;ближайшее время с&nbsp;Вами свяжется менеджер для подтверждения заказа.

    .page__body
      .details
        h2.details__title Информация о заказе:

        dl.details__content
          dt Заказчик:
          dd Покупатель Покупателевич

          dt Email:
          dd amozik@yandex.ru

          dt Адрес:
          dd 115487, г Москва, ул Садовая Б., д 45

          dt Телефон:
          dd +7 902 266-44-63

          dt Исполнитель:
          dd Группа компаний Fulogy

          dt Менеджер:
          dd Широков Евгений

          dt Телефон:
          dd +7(499)116-34-00

          dt Монтаж:
          dd Да

      .details
        h2.details__title Состав комплекта:

        dl.details__content
          dt Светильник по вашему размеру
          dd 2 шт

          dt Блок питания 100 Вт.
          dd 1 шт

          dt Крепления
          dd саморезы каждые 30 см

          dt Комментарий:
          dd Можно мне гаечный ключ вместо отвертки

          dt Конфигурация светильника (вариант 2):
          dd scheme

      .details
        h2.details__title Технические характеристики:

        dl.details__content
          dt Длина 1-го светильника (L1):
          dd 1375 мм

          dt Длина 2-го светильника (L2):
          dd 2110 мм

          dt Вид профиля:
          dd Накладной профиль с молочным рассеивателем

          dt Лента:
          dd Светодиодная лента 24V SMD 2835 140LED/m 18W IP33 Day White LUX CRI 90

          dt Суммарная потребляемая мощность:
          dd 63 Вт

          dt Вывод питающего кабеля из светильника:
          dd через заглушку

          dt Стык светильников:
          dd под углом 45 градусов

          dt Длина кабеля до блока питания (Lcb):
          dd 240 см

      .details
        .details__total ИТОГО: 14 000 РУБ.

block scripts
