.document
  -webkit-text-size-adjust: none

.document__body
  margin: 0
  text-size-adjust: 100%
  font: 16px/1.4 Helvetica, Arial, sans-serif
  color: $black
  background: $grayLight
  padding: $baseGap
  -webkit-font-smoothing: antialiased
